# IntelliJ Rider Files (IDEA)
.idea/

# build Files
bin/
obj/

# config
appsettings.json
appsettings.Development.json


Components/Pages/Test.razor
Components/Pages/Weather.razor
Components/Pages/Counter.razor

.Ds_Store
