@page "/Test"
@using Sklad.Components.Models
@using Sklad.Components.Services
@inject ToolService ToolService

<h3>Werkzeugsliste</h3>

@if (_tools == null)
{
    <p>Ładowanie danych...</p>
}
else if (!_tools.Any())
{
    <p>Brak narzędzi w bazie danych.</p>
}
else
{
    <ul>
        @foreach (var tool in _tools)
        {
            @if (tool != null)
            {
                <li>
                    @tool.Id - @tool.Name
                </li>
            }
            else
            {
                <li>Nieprawidłowy element.</li>
            }
        }
    </ul>
}




@code {
    private IEnumerable<Tool?> _tools = null!;

    protected override async Task OnInitializedAsync()
    {
        _tools = await ToolService.GetAllToolsAsync();
    }
}